[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "^2.3"
gunicorn = "*"
psycopg2-binary = "*"
flask-sqlalchemy = "^3.0"
flask-migrate = "^4.0"
sqlalchemy-serializer = "*"
flask-restful = "^0.3.8"

[dev-packages]

[requires]
python_version = "3.8"
