[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==2.3.2"
gunicorn = "*"
psycopg2-binary = "*"
flask-sqlalchemy = "*"
flask-migrate = "==4.0.4"
sqlalchemy-serializer = "*"
flask-restful = "==0.3.8"
flask-cors = "*"
python-dotenv = "*"
honcho = "*"
importlib-metadata="*"
flask-vite = "*"

[dev-packages]

[requires]
python_version = "3.8"
